* {
    color: #181b7b;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #5da2cc;
}

.bd-primary {
    background-color: #5da2cc;
}

.logo {
    width: 40px;
}

.mb-4 {
    color: #181b7b;
}

.btn {
    border-radius: 38px;
}

.btn:hover {
    margin-top: -2px;
}

.c-item {
    height: 664px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}