* {
    color: #181b7b;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img.rounded-img {
    width: 60%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 0.6em;
    margin-bottom: 1em;
}

.navbar {
    background-color: #5da2cc;
}

.bd-primary {
    background-color: #5da2cc;
}

.logo {
    width: 40px;
}

.mb-4 {
    color: #181b7b;
}

.item_type {
    font-style: italic;
}

.card {
    border-radius: 1em;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    padding: 10px;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card img {
    border: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    /* border: 10px solid #fff; */
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;

    object-fit: cover;


}

.card:hover img {
    transform: scale(1.12);
}



.btn {
    border-radius: 38px;
}

.bd-primary:hover {
    background-color: #181b7b;
    color: #5da2cc;
}

.btn:hover {
    margin-top: -2px;
}